:root {
    --headerColor: #e2b69b;
    --contentColor: rgb(251, 243, 232);
}

body {
    width: 80%;
    margin: auto;
    background-image: url("../images/bg3.jpg");
    background-color: white;
}

.content-wrapper {
    background-color: var(--contentColor);
}

.navbar-collapse {
    justify-content: space-evenly;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#location::before {
    background-image: url('../images/marker.png');
}

#phone::before {
    background-image: url('../images/phone.png');
}

#email::before {
    background-image: url('../images/email.png');
}

#fb::before {
    background-image: url('../images/fb-icon.png');
}

#clock::before {
    background-image: url('../images/clock.png');
}

.contact-icon::before {
    content: "";
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
}

.footer {
    position: relative;
    height: 50px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.darken-on-hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.darken-on-hover:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.margin-top-and-bottom {
    margin-top: 30px;
    margin-bottom: 40px;
}

.body {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    background-color: var(--contentColor);
}

.margin-bottom {
    margin-bottom: 20px;
}

.phone-div {
    margin-bottom: 15px;
}

.et-al {
    margin-bottom: 50px;
}

.with-dashes {
    list-style-type: none;
    color: black;
}

.with-dashes li:before {
    content: '-';
    position: absolute;
    margin-left: -20px;
}

.with-dashes li {
    padding-top: 3px;
}

#cphone {
    padding-bottom: 20px;
}

.quote-container {
    border: 1px solid black;
    position: relative;
    padding: 20px;
    width: 50%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.top-right {
    position: absolute;
    top: 5px;
    right: 5px;
    transform: rotate(180deg);
}

.bottom-left {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.navbar {
    position: relative;
    font-weight: bold;
}


/*HEADER*/

.custom-shape-divider-top-1677336173 {
    position: absolute;
    top: 50px;
    /*left: 0;*/
    width: 100%;
    overflow: hidden;
    line-height: 0;
    width: 80%;
    margin: auto;
}

.custom-shape-divider-top-1677336173 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1677336173 .shape-fill {
    fill: var(--headerColor);
}

.navbar {
    background-color: var(--headerColor) !important;
}


/*FOOTER*/

.custom-shape-divider-bottom-1677339475 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677339475 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1677339475 .shape-fill {
    fill: var(--headerColor);
}

#f_name {
    padding-top: 50px;
    padding-bottom: 15px;
}

#f_number {
    padding-top: 15px;
    padding-bottom: 50px;
}

.fbody {
    padding-left: 60px;
    padding-right: 60px;
}

#f_money {
    padding-top: 50px;
    padding-bottom: 50px;
}

.margin-tb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.cont {
    display: grid;
    grid-template-areas: "a b" "a c";
    gap: 20px;
}