:root {
    --headerColor: #e2b69b;
    --contentColor: rgb(251, 243, 232);
    --carouselHeight: 450px;
    --dropdown-menu-color: #dfc3b0;
}

body {
    width: 80%;
    margin: auto;
    background-image: url("../images/bg3.jpg");
    background-color: white;
}

.content-wrapper {
    background-color: var(--contentColor);
}

.navbar-collapse {
    justify-content: space-evenly;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#location::before {
    background-image: url('../images/marker.png');
}

#phone::before {
    background-image: url('../images/phone.png');
}

#email::before {
    background-image: url('../images/email.png');
}

#fb::before {
    background-image: url('../images/fb-icon.png');
}

#clock::before {
    background-image: url('../images/clock.png');
}

.contact-icon::before {
    content: "";
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.footer {
    position: relative;
    height: 50px;
    margin-top: 30px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.darken-on-hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.darken-on-hover:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.margin-top-and-bottom {
    margin-top: 30px;
    margin-bottom: 40px;
}

.body {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
    background-color: var(--contentColor);
    min-height: 100vh;
}

.margin-bottom {
    margin-bottom: 20px;
}

.phone-div {
    margin-bottom: 15px;
}

.et-al {
    margin-bottom: 50px;
}

.with-dashes {
    list-style-type: none;
    color: black;
}

.with-dashes li:before {
    content: '-';
    position: absolute;
    margin-left: -20px;
}

.with-dashes li {
    padding-top: 3px;
}

#cphone {
    padding-bottom: 20px;
}

.quote-container {
    border: 1px solid black;
    position: relative;
    padding: 20px;
    width: 50%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.right {
    margin-left: auto;
    margin-right: 0;
}

.top-right {
    position: absolute;
    top: 5px;
    right: 5px;
    transform: rotate(180deg);
}

.bottom-left {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.navbar {
    position: relative;
    font-weight: bold;
}


/*HEADER*/

.custom-shape-divider-top-1677336173 {
    position: absolute;
    /*top: 50px;*/
    /*left: 0;*/
    width: 100%;
    overflow: hidden;
    line-height: 0;
    width: 80%;
    margin: auto;
}

.custom-shape-divider-top-1677336173 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1677336173 .shape-fill {
    fill: var(--headerColor);
}

.navbar {
    background-color: var(--headerColor) !important;
}


/*FOOTER*/

.custom-shape-divider-bottom-1677339475 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677339475 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.custom-shape-divider-bottom-1677339475 .shape-fill {
    fill: var(--headerColor);
}

#f_name {
    padding-top: 50px;
    padding-bottom: 15px;
}

#f_number {
    padding-top: 15px;
    padding-bottom: 50px;
}

.fbody {
    padding-left: 60px;
    padding-right: 60px;
}

#f_money {
    padding-top: 50px;
    padding-bottom: 50px;
}

.margin-tb {
    margin-top: 15px;
    margin-bottom: 15px;
}

.cont {
    display: grid;
    grid-template-areas:
    "p1 p2"
    "p1 p3"
    "p4 p5"
    "p6 p6"
    "p7 p8"
    "p9 p8"
    "p10 p11"
    "p12 p12";
    gap: 10px;
    text-align: center;
    grid-template-columns: 75% 75%;
    justify-content: center;
}

.cont > .p1 {
    grid-area: p1;
    justify-self: right;
}

.cont > .p2 {
    grid-area: p2;
}

.cont > .p3 {
    grid-area: p3;
}

.cont > .p4 {
    grid-area: p4;
    justify-self: right;
}

.cont > .p5 {
    grid-area: p5;
}

.cont > .p6 {
    grid-area: p6;
    justify-self: center;
}

.cont > .p7 {
    grid-area: p7;
    justify-self: right;
}

.cont > .p8 {
    grid-area: p8;
}

.cont > .p9 {
    grid-area: p9;
    justify-self: right;
}

.cont > .p10 {
    grid-area: p10;
    justify-self: right;
}

.cont > .p11 {
    grid-area: p11;
}

.cont > .p12 {
    grid-area: p12;
    justify-self: center;
    margin-bottom: 80px;
}

.cont2 {
    display: grid;
    grid-template-areas:
    "g1 g2"
    "g1 g3"
    "g4 g4"
    "g5 g6"
    "g7 g9"
    "g8 g10"
    "g11 g12"
    "g13 g14"
    "g15 g15";
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.cont2 > .g1 {
    grid-area: g1;
    justify-self: right;
}

.cont2 > .g2 {
    grid-area: g2;
}

.cont2 > .g3 {
    grid-area: g3;
}

.cont2 > .g4 {
    grid-area: g4;
    justify-self: center;
}

.cont2 > .g5 {
    grid-area: g5;
    justify-self: right;
}

.cont2 > .g6 {
    grid-area: g6;

}

.cont2 > .g7 {
    grid-area: g7;
    justify-self: right;
}

.cont2 > .g8 {
    grid-area: g8;
    justify-self: right;
}

.cont2 > .g9 {
    grid-area: g9;
}

.cont2 > .g10 {
    grid-area: g10;
}

.cont2 > .g11 {
    grid-area: g11;
    justify-self: right;
}

.cont2 > .g12 {
    grid-area: g12;
}

.cont2 > .g13 {
    grid-area: g13;
    justify-self: right;
}

.cont2 > .g14 {
    grid-area: g14;
}

.cont2 > .g15 {
    grid-area: g15;
    justify-self: center;
}

@media (max-width: 992px) {
    .cont {
        grid-template-areas:
        "p1"
        "p2"
        "p3"
        "p4"
        "p5"
        "p6"
        "p7"
        "p8"
        "p9"
        "p10"
        "p11"
        "p12";
        grid-template-columns: 150%;
    }

    .cont > .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12 {
        justify-self: center !important;
    }

    .cont2 {
        grid-template-areas:
        "g1"
        "g2"
        "g3"
        "g4"
        "g5"
        "g6"
        "g7"
        "g8"
        "g9"
        "g10"
        "g11"
        "g12"
        "g13"
        "g14"
        "g15";
        grid-template-columns: 150%;
    }

    .cont2 > .g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11, .g12, .g13, .g14, .g15 {
        justify-self: center !important;
    }

  }

  #carousel1 {
    background-image: url("../images/slide1.jpg");
    width: 100%;
    background-size: 100% 100%;
    height: var(--carouselHeight);
  }

  #carousel2 {
    background-image: url("../images/slide2.jpg");
    width: 100%;
    background-size: 100% 100%;
    height: var(--carouselHeight);
  }

  #bodyIndex {
    padding-left: 0;
    padding-right: 0;
  }

  h1, h2 {
    padding-top: 40px;
    padding-bottom: 10px;
  }

.dropdown-menu {
    background-color: var(--dropdown-menu-color);
}

.group {
    height: 300px;
}

table {
    border: 1px solid black;
    text-align: center;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

th {
    font-size: 25px;
    border-bottom: 1px solid black;
}

#table1 {
    background-image: url("../images/katica.jpg");
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
}

#table2 {
    background-image: url("../images/maci.jpg");
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
}

#table3 {
    background-image: url("../images/mano.jpg");
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
}

#table4 {
    background-image: url("../images/napocska.jpg");
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
}

#table5 {
    background-image: url("../images/suni.jpg");
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
}

.text-bold {
    font-weight: bold;
}

.responsive {
    width: 100%;
    height: auto;
    margin:auto;
    margin-bottom: 20px;
}

.responsive-container {
    margin: auto;
    width: 100%;
}

.contact-info {
    margin-bottom: 30px;
}


