body {
    width: 80%;
    margin: auto;
    background-image: url("../images/bg3.jpg");
    background-color: white;
}

.content-wrapper {
    background-color: white;;
}

.navbar-collapse {
    justify-content: space-evenly;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#location::before {
    background-image: url('../images/marker.png');
}

#phone::before {
    background-image: url('../images/phone.png');
}

#email::before {
    background-image: url('../images/email.png');
}

#fb::before {
    background-image: url('../images/fb-icon.png');
}

#clock::before {
    background-image: url('../images/clock.png');
}

.contact-icon::before {
    content: "";
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    position: relative;
    top: 4px;
}

.footer {
    text-align: center;
}

.footer a img{
    width: 40px;
}


.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.darken-on-hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.darken-on-hover:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}



